* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1A1A1D;
  --color-text: #fff;
  --color-text-secondary: #C3073F;
  --color-text-tertiary: #4e4e50;
  --color-outline: #6f2232;
  --color-outline-secondary: #C3073F;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover {
  background-size: 100% 2px;
}